[Unit]
Description=uWSGI instance to serve aws_app
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=
Environment=
ExecStart=

[Install]
WantedBy=multi-user.target
